html {
    scroll-behavior: smooth;
}

/*-----SCROLLBAR STYLING ----*/
::-webkit-scrollbar {
    width: 12px;
    background-color: #D4FFA6;
}

::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    background-color: #003366;
    border-radius: 20px;
}
    
/*----ANIMATION EFFECTS -----*/
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

@keyframes changeBackground {
    0% {
        background-image: url(back.jpg);
    }

    50% {
        background-image: url(backp.jpg);
    }

    100% {
        background-image: url(back.jpg);
    }
}

@keyframes ground {
    0% {
        background-image: url(nature.png);
    }

    25% {
        background-image: url(shadow.png);
    }

    50% {
        background-image: url(moon.png);
    }

    75% {
        background-image: url(flower.png);
    }

    100% {
        background-image: url(nature.png);
    }
}


@keyframes change{
    0%{background-color: #D0E1CD;}
    50%{background-color: #BEE8F5;}
    100%{background-color: #D0E1CD;}
}

/*------BODY STYLING ------*/
body {
    animation: change 10s infinite;
    font-size: 20px;
    color: #003366;
    margin: 0;
    line-height: 1.5;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/*-----HEADER STYLING-----*/
.header {
    background-color: #003366;
    padding: 10px;
    position: fixed;
    width: 100%;
    transition: 0.5s;
    box-shadow: 0 0 10px #000000;
}

.header img {
    float: right;
    border-radius: 50%;
    margin-right: 30px;
}

/*-------HOME STYLING ------*/
.home {
    transition: 0.3s;
}

.home h1{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFFBFB;
    font-size: 40px;
    border-radius: 10px;
    animation: changeBackground 30s infinite;
}

.gallery h2, .story h2, .about h2{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFFBFB;
    font-size: 30px;
    border-radius: 10px;
    animation: changeBackground 30s infinite;
}

.header a {
    text-decoration: none;
    margin-left: 50px;
    color: #FFFFFF;
    background-color: #0C833A;
    border-radius: 10px;
    padding: 5px;
}

.header a:hover {
    background-color: #5BF9A1;
    color: #000000;
    transform: translateY(10px);
    box-shadow: 0 0 10px #B3D30F;
}

/*------DROP DOWN BUTTON STYLING -----*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #FFFFFF;
    color: #003366;
    padding: 10px;
    font-size: 16pt;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    border-radius: 10px;
    position: absolute;
    background-color: #003366;
    min-width: 100%;
    z-index: 1;
    padding: 100%;
}

.dropdown-content a {
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 20px;
    background-color: #003366;
}

.dropdown-content a:hover {
    background-color: #FFFFFF;
    color: #003366;
}

.show {
    display: block;
}

/*-------CARDS STYLING------*/
.container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 5px;
    width: 100%;
}

.cards {
    background-color: #003366;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    transition: 0.6s;
}

.cards:hover {
    box-shadow: 0 0 10px #07FF3A;
    background-color: #032A33;
}

.cards img {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    border-style: outset;
    padding: 5px;
}

.cards a {
    text-decoration: none;
    color: #003366;
    background-color: #FFFFFF;
    border-radius: 10px;
    border-style: outset;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

.cards a:hover {
    color: #2904FF;
    text-decoration: underline;
    box-shadow: 0 0 10px #F0FF04;
}

.header a:hover {
    background-color: #FFFFFF;
    color: #003366;
    transform: translateY(10px);
    box-shadow: 0 0 10px #FFFFFF;
}

/*---------CONTACT STYLING--------*/
#contact {
    animation: ground 40s infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin: auto;
    background-color: #FFFFFF73;
    padding: 15px;
    border-radius: 10px;
    color: #003366;
    font-size: 18px;
}

label {
    margin-top: 10px;
}

input,
textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    animation: change 10s infinite;
    color: #003366;
    font-family: 'Times New Roman', Times, serif;
}

.submit {
    background-color: #006602;
    color: #FFFFFF;
    padding: 10px;
    margin-top: 10px;
    width: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    margin-left: 20px;
}

.reset {
    background-color: #F20606;
    color: #FFFFFF;
    padding: 10px;
    margin-top: 10px;
    width: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    margin-left: 20px;
}

.submit:hover,
.reset:hover {
    background-color: #FFFFFF;
    color: #003366;
    box-shadow: 0 0 5px #5CF1BE;
}

/*--------BRANCH STYLING -------*/
.home,
.gallery,
.about,
.story {
    padding: 20px;
    text-align: center;
}

.home h1,
.gallery h2,
.about h2,
.story h2 {
    padding-top: 60px;
}

h3{
    color: #032A33;
}

/*----------ABOUT STYLING --------*/
.about-us {
    transition: 0.5s;
    animation: ground 20s infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-us img {
    width: 300px;
    height: 400px;
    padding: 20px;
    margin-left: 60px;
    border-style: outset;
    border-radius: 40px;
    animation: bounce 20s infinite;
}

/*--------GALLERY STYLING -------*/
.pics,
.songs,
.videos {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 5px;
    margin-top: 20px;
    width: 100%;
}

.pick,
.songs,
.videos {
    background-color: #003366;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    transition: 0.6s;
}

.video video{
    width: 600px;
    height: 500px;
}

.pick:hover {
    transform: translateZ(10px);
    box-shadow: 0 0 10px #09F7DE;
    background-color: #032A33;
}

.pick img {
    width: 350px;
    height: 400px;
    border-radius: 20px;
    border-style: outset;
    padding: 5px;
}

/*--------FOOTER STYLING ---------*/
.footer{
    background-color: #003366;
    color: #FFFFFF;
    text-align: center;
    font-size: 11pt;
    padding: 10px;
    box-shadow: 0 0 10px #000000;
}

.list{
    text-align: justify;
    color: #FF4808;
    font-weight: bold;
    font-style: italic;
}

.list ul{
    list-style-type: square;
}



@media (max-width: 600px) {
    html {
    scroll-behavior: smooth;
}

/*-----SCROLLBAR STYLING ----*/
::-webkit-scrollbar {
    width: 11px;
    background-color: #D4FFA6;
}

::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    background-color: #003366;
    border-radius: 20px;
}
    
/*----ANIMATION EFFECTS -----*/
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

@keyframes changeBackground {
    0% {
        background-image: url(back.jpg);
    }

    50% {
        background-image: url(backp.jpg);
    }

    100% {
        background-image: url(back.jpg);
    }
}

@keyframes ground {
    0% {
        background-image: url(nature.png);
    }

    25% {
        background-image: url(shadow.png);
    }

    50% {
        background-image: url(moon.png);
    }

    75% {
        background-image: url(flower.png);
    }

    100% {
        background-image: url(nature.png);
    }
}


@keyframes change{
    0%{background-color: #D0E1CD;}
    50%{background-color: #BEE8F5;}
    100%{background-color: #D0E1CD;}
}

/*------BODY STYLING ------*/
body {
    animation: change 15s infinite;
    font-size: 16px;
    color: #003366;
    margin: 0;
    line-height: 1.5;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/*-----HEADER STYLING-----*/
.header {
    background-color: #003366;
    padding: 5px;
    position: fixed;
    width: 99%;
    transition: 0.5s;
    box-shadow: 0 0 5px #000000;
}

.header img {
    float: right;
    border-radius: 50%;
    margin-right: 5px;
}

/*-------HOME STYLING ------*/
.home {
    transition: 0.3s;
}

.home h1{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFFBFB;
    padding-top: 60px;
    font-size: 30px;
    border-radius: 5px;
    animation: changeBackground 40s infinite;
}

.gallery h2, .story h2{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFFBFB;
    padding-top: 60px;
    font-size: 20px;
    border-radius: 5px;
    animation: changeBackground 40s infinite;
}

.header a {
    text-decoration: none;
    margin-left: 10px;
    color: #FFFFFF;
    background-color: #0C833A;
    border-radius: 5px;
    padding: 3px;
}

.header a:hover {
    background-color: #5BF9A1;
    color: #000000;
    transform: translateY(5px);
    box-shadow: 0 0 10px #B3D30F;
}

/*------DROP DOWN BUTTON STYLING -----*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #FFFFFF;
    color: #003366;
    padding: 5px;
    font-size: 11pt;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    border-radius: 5px;
    position: absolute;
    background-color: #003366;
    min-width: 99%;
    z-index: 1;
    padding: 99%;
}

.dropdown-content a {
    color: #FFFFFF;
    padding: 7px 10px;
    text-decoration: none;
    display: block;
    margin: 10px;
    background-color: #003366;
}

.dropdown-content a:hover {
    background-color: #FFFFFF;
    color: #003366;
}

.show {
    display: block;
}

/*-------CARDS STYLING------*/
.container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 5px;
    width: 99%;
}

.cards {
    background-color: #003366;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s;
}

.cards:hover {
    box-shadow: 0 0 10px #17FF00;
    background-color: #032A33;
}

.cards img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    border-style: outset;
    padding: 5px;
}

.cards a {
    text-decoration: none;
    color: #003366;
    background-color: #FFFFFF;
    border-radius: 5px;
    border-style: outset;
    padding: 5px;
    text-align: center;
}

.cards a:hover{
    color: #2904FF;
    text-decoration: underline;
    box-shadow: 0 0 10px #F0FF04;
}

.header a:hover {
    background-color: #4BDD84;
    color: #003366;
    transform: translateY(5px);
    box-shadow: 0 0 10px #FFFFFF;
}

/*---------CONTACT STYLING--------*/
#contact {
    animation: ground 40s infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    margin-top: 3px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: auto;
    background-color: #FFFFFF73;
    padding: 5px;
    border-radius: 5px;
    color: #003366;
    font-size: 14px;
}

label {
    margin-top: 5px;
}

input,
textarea {
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    animation: change 11s infinite;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
}

.submit {
    background-color: #006602;
    color: #FFFFFF;
    padding: 5px;
    margin-top: 5px;
    width: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
}

.reset {
    background-color: #F20606;
    color: #FFFFFF;
    padding: 5px;
    margin-top: 5px;
    width: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
}

.submit:hover,
.reset:hover {
    background-color: #FFFFFF;
    color: #003366;
    box-shadow: 0 0 10px #EB7913;
}

/*--------BRANCH STYLING -------*/
.home,
.gallery,
.about,
.story {
    padding: 10px;
    text-align: center;
}

.home h1,
.gallery h2,
.about h2,
.story h2 {
    padding-top: 60px;
    margin-top: 20px;
}

h3{
    color: #032A33;
}

/*----------ABOUT STYLING --------*/
.about-us {
    transition: 0.5s;
    animation: ground 30s infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-us img {
    width: 150px;
    height: 200px;
    padding: 5px;
    margin-left: 5px;
    border-style: outset;
    border-radius: 10px;
    animation: bounce 30s infinite;
}

/*--------GALLERY STYLING -------*/
.pics,
.songs,
.videos {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 10;
    margin-top: 10px;
    width: 99%;
}

.pick,
.songs,
.videos {
    background-color: #003366;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s;
}

.video video{
    width: 260px;
    height: 300px;
}

.pick:hover {
    transform: translateZ(5px);
    box-shadow: 0 0 10px #75F7C7;
    background-color: #032A33;
}

.pick img {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    border-style: outset;
    padding: 10px;
}

/*--------FOOTER STYLING ---------*/
.footer{
    background-color: #003366;
    color: #FFFFFF;
    text-align: center;
    font-size: 9pt;
    padding: 5px;
    box-shadow: 0 0 10px #000000;
}

.list{
    text-align: justify;
    color: #FF4808;
    font-weight: bold;
    font-style: italic;
}

.list ul{
    list-style-type: square;
}
}